<!DOCTYPE html>
<html>
  <head>
    <title>OrgansmasherYt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  </header>
  <body>
    <iframe src="//giphy.com/embed/xzMCoYmILyv2E" width="480" height="228" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/xzMCoYmILyv2E">via GIPHY</a></p>
    <%= yield %>
  </body>
</html>
